@media(max-width:1200px) {
    
    .container {
        max-width: 970px;
    }
    .welcome{
        min-height: auto;
        padding: 30px 50px 30px 50px;
    }
    .aboutMe{
        min-height: auto;
    }
    .skills{
        min-height: auto;
    }
    .projects{
        min-height: auto;
        padding: 4px 0 20px 0;
    }
    .aboutMe .aboutMe_text{
        padding: 12px 50px 30px 50px;
    }
    .skills .skills_content{
        padding: 30px 0;
    }
    footer {
        min-height: auto;
    }
    footer .contact_content{
        padding: 30px 50px;
    }

    .welcome_cloud_text h1 {
        font-size: 2.75em !important;


    }

    .welcome .welcome_content .welcome_cloud_text h2 {
        font-size: 1em !important;
    }


}

@media(max-width:992px) {
    .container {
        max-width: 750px;
        margin: 0 auto;
    }
    .welcome{
        min-height: auto;
        padding: 30px 50px 30px 50px;
    }
    .aboutMe{
        min-height: auto;
    }
    .skills{
        min-height: auto;
    }
    .projects{
        min-height: auto;
        padding: 4px 0 20px 0;
    }
    .aboutMe .aboutMe_text {
        padding: 12px 50px 30px 50px;
    }
    
    .header_content .header_logo {
        display: none;

    }

    .header_content .header_content-inner .menu .menu_big{
        min-width: 100%;
        max-width: 100%;
    }
    .header_content .header_content-inner .menu .menu_big ul{
        display: flex;
        justify-content: space-around;
    }

    .skills .skills_content {
        margin-top: 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 60px 0 25px 0;
    }

    .skills .skills_content .box {
        display: grid;
        grid-template-columns: none;
        justify-content: center;
        align-items: center;
        grid-auto-rows: 100px;
        margin-top: 4%;
    }

    .skills .skills_content .box img {
        width: 100%;
    }

    .skills .skills_content .skills_text {
        margin-top: 3%;
        padding-left: 0;
        text-align: center;
    }

    .skills .skills_content .skills_text h1 {
        text-align: center;
    }

    .window_ank {
        height: 200px;
    }

    .projects_box {
        filter: brightness(100%);
    }

    .projects_box:nth-child(1) {
        grid-column: 1/1;
        grid-row: 1/1;
    }
    footer{
        min-height: auto;
    }
footer .contact_content
{
    padding: 20px 10px;
}
}

@media(max-width:767px) {
    .container {
        max-width: none;
        margin: 0 auto;
        padding: 0;
        
    }
    .welcome{
        min-height: auto;
        padding: 80px 50px 30px 50px;
    }
    .aboutMe{
        min-height: auto;
    }
    .skills{
        min-height: auto;
    }
    .projects{
        min-height: auto;
        padding-top: 7px;
    }
    

    .header_content {
        float: right;
        background-color: #000;
        max-width: 100%;
        min-height: 50px;

        margin: 0;
        padding: 0;

    }

    .header .header_top {
        display: none;
    }

    .header_content .header_content-inner {
        display: block;
        float: right;
        padding-top: 10px;
    }

    .header_content .header_content-inner .menu .menu_big ul{
        display: none;
    }

    .menu .hamburger_wrapper {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .menu .hamburger {
        position: relative;
        display: block;
        width: 35px;
        height: 4px;
        background-color: #fff;
        border-radius: 10px;

    }

    .menu .hamburger::before {
        position: absolute;
        left: 0;
        top: -6px;
        content: '';
        display: block;
        width: 35px;
        height: 4px;
        background-color: #fff;
        border-radius: 10px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .menu .hamburger::after {
        position: absolute;
        left: 0;
        top: 6px;
        content: '';
        display: block;
        width: 35px;
        height: 4px;
        background-color: #fff;
        border-radius: 10px;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }

    .menu .hamburger_active {
        background-color: transparent;
    }

    .menu .hamburger_active::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    .menu .hamburger_active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    .header_content .header_logo {
        display: none;
    }

    .projects_content_box {
        grid-template-columns: 1fr;
    }

    .welcome .welcome_content .welcome_cloud_text {
        /* animation: none; */
        padding-left: 10px;
    }

    .welcome .welcome_content .welcome_cloud_text h2 {
        font-size: .8em;
    }

    .welcome .welcome_content .welcome_cloud_text p {
        font-size: .8em;
    }

    .aboutMe .aboutMe_text {
        padding: 12px 50px 30px 50px;
    }

    .skills .skills_content {
        padding: 30px 50px;
    }

    .skills .skills_content .skills_box .box img {
        width: 110px;
    }
    .skills .skills_content .skills_text{
        margin-top: 1%;
    }

    .projects {
        padding: 20px 0;
    }
    footer{
        min-height: auto;
    }
    footer .contact_content{
        padding: 30px 50px;
    }
}


@media(max-width:690px) {
    .container {
        max-width: none;
    }

    .welcome .welcome_content {
        grid-template-columns: 1fr;
    }

    .welcome .welcome_content .welcome_cloud_text {
        order: 1;
        text-align: center;
        padding-bottom: 20px;
    }

    .welcome .welcome_content .welcome_img {
        order: 2;
    }
    .projects{
        padding: 1px 0;
    }
    .projects_content_text{
        padding: 0;
    }
    footer {
        display: none;
    }

}

@media(max-width:575px) {
    .container {
        max-width: none;
    }

    .header .header_top {
        display: none;
    }

    .skills .skills_content .skills_box .box img {
        width: 80px;
    }

    .skills .skills_content .skills_box {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin: 10px 0;

    }

    .skills .skills_content .skills_box .box {
        margin-bottom: 10px;
        margin-top: 4%;
    }

    .skills .skills_content .skills_text {
        text-align: center;
        padding-left: 0;
    }

    .skills {
        min-height: 100px;
    }

    .skills .skills_content {
        padding-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .projects_content_text {
        font-size: 1.5en;
    }
}
@media(max-width:440px){
    .welcome .welcome_content .welcome_cloud_text{
        padding:0px;
    }
    .welcome .welcome_content .welcome_cloud_text h2{
        font-size: .8em !important;
    }
}
    @media(max-width:375px) {
        
        .welcome .welcome_content .welcome_cloud_text h1{
            margin: 0.5em 0;
        }
        .welcome .welcome_content .welcome_cloud_text h2 {
            font-size: .8em !important;
            line-height: 10px;
        }
        .welcome .welcome_content .welcome_cloud_text p {
          
            line-height: 15px;
        }
        .welcome .welcome_content .welcome_cloud_text{
            margin-bottom: 10px;
        }
        
        .skills .skills_content .skills_text{
            margin: 0;
        }
        .skills .skills_content .skills_text h1 {
            font-size: 1.5em;
        }

        .skills .skills_content .skills_text p {
            font-size: 1em;
        }
        .skills .skills_content .skills_box {
            column-gap: 20px;
            margin: 0;
        }
        .skills .skills_content .skills_box .box img {
            width: 60px;
            
        }
        .projects_content_text {
            font-size: 1em;
        }
    }

    @media(max-width:310px) {
        .welcome .welcome_content .welcome_cloud_text h1 {
            font-size: 1em !important;
            margin-bottom: 0;
        }

        .welcome .welcome_content .welcome_cloud_text h2 {
            font-size: .6em !important;
        }

        .welcome .welcome_content .welcome_cloud_text p {
            font-size: .5em !important;
        }

        .aboutMe .aboutMe_text h1 {
            font-size: 2em !important;
        }

        .aboutMe .aboutMe_text p {
            font-size: 1em;
        }
        .skills .skills_content .skills_box {
            grid-template-columns: 1fr;
            gap: 0px;
        }
        .skills .skills_content .skills_box .box{
            grid-auto-rows: auto;
        }
        .projects_content_text {
            font-size: 1em;
        }
    
   
}