* {
  margin: 0;
  padding: 0;
}
.menu {
  padding: 20px;
  margin: auto;
  width: 100vw;
  height: 100px;
  background-color: blueviolet;
}
.menu li {
  float: center;
  margin-right: 30px;
  list-style: none;
  display: inline;
}
.menu li:last-child {
  margin-right: 0;
}
.menu li:hover {
  color: #fff;
  cursor: pointer;
}
